@model progetto_settimanaleS17L5.Models.Violazione

@{
    ViewBag.Title = "AggiungiViolazione";
}

<div class="container">
    <h2 class="text-center">Inserisci Violazione</h2>

    <div class="text-center mt-3 mb-3">
        <a href="@Url.Action("ListaViolazioni", "Violazione")" class="btn btn-primary">Lista delle violazioni</a>
    </div>

    <form asp-controller="Violazione" asp-action="AggiungiViolazione" method="post">
        <div class="row justify-content-center container">
            <div class="d-flex flex-column align-items-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group w-100 d-flex flex-column align-items-center">
                    <h6 class="text-center">Descrizione</h6>
                    <input asp-for="Descrizione" class="form-control" required />
                    <span asp-validation-for="Descrizione" class="text-danger"></span>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success">Aggiungi Violazione</button>
                </div>
            </div>
        </div>
    </form>
</div>
