@model List<PuntiDecurtatiPerTrasgressore>

<h2>Punti Decurtati per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Totale Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome, @item.Nome</td>
                <td>@item.TotalePuntiDecurtati</td>
            </tr>
        }
    </tbody>
</table>

