@model progetto_settimanaleS17L5.Models.Verbale

@{
    ViewBag.Title = "AggiungiVerbale";
}

<div class="container">
    <h2 class="text-center">Inserisci Verbale</h2>

    <div class="text-center mt-3 mb-3">
        <a href="@Url.Action("ListaVerbali", "Verbale")" class="btn btn-primary">Lista dei verbali</a>
    </div>

    <form asp-controller="Verbale" asp-action="AggiungiVerbale" method="post">
        <div class="form-group">
            <label asp-for="IDanagrafica" class="control-label">Trasgressore</label>
            <select asp-for="IDanagrafica" asp-items="@ViewBag.ListaAnagrafica" class="form-control">
                <option value="">Seleziona un utente</option>
            </select>
            <span asp-validation-for="IDanagrafica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IDviolazione" class="control-label">Tipo Violazione</label>
            <select asp-for="IDviolazione" asp-items="@ViewBag.ListaViolazioni" class="form-control">
                <option value="">Seleziona una violazione</option>
            </select>
            <span asp-validation-for="IDviolazione" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataViolazione" class="control-label">Data Violazione</label>
            <input asp-for="DataViolazione" class="form-control" />
            <span asp-validation-for="DataViolazione" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IndirizzoViolazione" class="control-label">Indirizzo Violazione</label>
            <input asp-for="IndirizzoViolazione" class="form-control" />
            <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NominativoAgente" class="control-label">Nominativo Agente</label>
            <input asp-for="NominativoAgente" class="form-control" />
            <span asp-validation-for="NominativoAgente" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataTrascrizioneVerbale" class="control-label">Data Trascrizione Verbale</label>
            <input asp-for="DataTrascrizioneVerbale" class="form-control" />
            <span asp-validation-for="DataTrascrizioneVerbale" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Importo" class="control-label">Importo</label>
            <input asp-for="Importo" class="form-control" />
            <span asp-validation-for="Importo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DecurtamentoPunti" class="control-label">Punti Decurtati</label>
            <input asp-for="DecurtamentoPunti" class="form-control" />
            <span asp-validation-for="DecurtamentoPunti" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Aggiungi Verbale</button>
    </form>

</div>